/* Basscss Utility Typography */

.bold {
  font-weight: $bold-font-weight;
}

.regular {
  font-weight: normal;
}

.italic {
  font-style: italic;
}

.caps {
  text-transform: uppercase;
  letter-spacing: .2em;
}

.left-align {
  text-align: left;
}

.center {
  text-align: center;
}

.right-align {
  text-align: right;
}

.justify {
  text-align: justify;
}

.nowrap {
  white-space: nowrap;
}

.lineheight-med {
  line-height: 2.2em;
}

.underlined {
  padding: 0 0 20px;
  line-height: 1.8em;

  &:after {
    content: '';
    display: block;
    width: 25%;
    height: 5px;
    background: #D2BA9C;
  }
}